{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
  
      <form action="{{ url_for('index') }}" method="post" class="mb-3">
        <div class="form-group">
          <label for="title">Item Title (required)</label>
          <input type="text" id="title" name="item_title" required class="form-control" />
        </div>
        <div class="form-group">
          <label for="description">Item Description</label>
          <input type="text" id="description" name="item_description" class="form-control" />
        </div>
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Add item</button>
        </div>
      </form>

      <h4>To Do</h4>
      <ul class="list-group mb-4">
        {% for item in view_model.to_do_items %}
          <li class="list-group-item">
            <div class="row">
              <span class="col">{{ item.title }}</span>
              <div class="col-auto">
                <form action="{{ url_for('delete_item', id=item.id) }}" method="post" class="d-inline">
                  <button type="submit" class="btn btn-danger mr-1">Delete</button>
                </form>
                <form action="{{ url_for('mark_item_as_complete', id=item.id) }}" method="post" class="d-inline">
                  <button type="submit" class="btn btn-success">Mark as complete</button>
                </form>
              </div>
            </div>
            {{ item.description }}
          </li>
        {% endfor %}
      </ul>
      
      <h4>Doing</h4>
      <ul class="list-group mb-4">
        {% for item in view_model.doing_items %}
          <li class="list-group-item">
            <div class="row">
              <span class="col">{{ item.title }}</span>
              <div class="col-auto">
                <form action="{{ url_for('delete_item', id=item.id) }}" method="post" class="d-inline">
                  <button type="submit" class="btn btn-danger mr-1">Delete</button>
                </form>
                <form action="{{ url_for('mark_item_as_complete', id=item.id) }}" method="post" class="d-inline">
                  <button type="submit" class="btn btn-success">Mark as complete</button>
                </form>
              </div>
            </div>
            {{ item.description }}
          </li>
        {% endfor %}
      </ul>
      
      <h4>Done</h4>
      {% if view_model.show_all_done_items %}
      <ul class="list-group mb-4">
        {% for item in view_model.done_items %}
          <li class="list-group-item">
            <div class="row">
              <span class="col">{{ item.title }}</span>
              <div class="col-auto">
                <form action="{{ url_for('delete_item', id=item.id) }}" method="post" class="d-inline">
                  <button type="submit" class="btn btn-danger mr-1">Delete</button>
                </form>
              </div>
            </div>
            {{ item.description }}
          </li>
        {% endfor %}
      </ul>
      {% else %}
      <ul class="list-group mb-4">
        {% for item in view_model.recent_done_items %}
          <li class="list-group-item">
            <div class="row">
              <span class="col">{{ item.title }}</span>
              <div class="col-auto">
                <form action="{{ url_for('delete_item', id=item.id) }}" method="post" class="d-inline">
                  <button type="submit" class="btn btn-danger mr-1">Delete</button>
                </form>
              </div>
            </div>
            {{ item.description }}
          </li>
        {% endfor %}
        <details>
          <summary>View older items</summary>
          {% for item in view_model.older_done_items %}
          <li class="list-group-item">
            <div class="row">
              <span class="col">{{ item.title }}</span>
              <div class="col-auto">
                <form action="{{ url_for('delete_item', id=item.id) }}" method="post" class="d-inline">
                  <button type="submit" class="btn btn-danger mr-1">Delete</button>
                </form>
              </div>
            </div>
            {{ item.description }}
          </li>
        {% endfor %}
        </details>
      </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}