{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
  
      <form action="{{ url_for('index') }}" method="post" class="input-group mb-3">
        <input type="text" id="title" name="item_title" class="form-control" />
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Add item</button>
        </div>
      </form>

      <ul class="list-group mb-4">
        {% for item in items %}
          <li class="list-group-item">
            <b>{{ item.title }}</b>: {{ item.status }}
            <div class="float-right">
              <form action="{{ url_for('delete_item', id=item.id) }}" method="post" class="d-inline">
                <button type="submit" class="btn btn-danger mr-1">Delete</button>
              </form>
              {% if item.status == 'Not Started' %}
              <form action="{{ url_for('mark_item_as_complete', id=item.id) }}" method="post" class="d-inline">
                <button type="submit" class="btn btn-success">Mark as complete</button>
              </form>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}